{
    local_certs
}

#centuri-engineering.univ-amu.fr {
#    respond "Hello, world!"
#}

centuri-engineering.univ-amu.fr {
    root * /var/www/				
    file_server
    reverse_proxy  /clicket/* 127.0.0.1:5001
    reverse_proxy /omero/* 127.0.0.1:4080
    tls /etc/caddy/cert.pem /etc/caddy/key.pem
}

# centuri-engineering.univ-amu.fr/jupyter {
#     reverse_proxy 127.0.0.1:8000
#     tls /etc/caddy/cert.pem /etc/caddy/key.pem
# }

# centuri-engineering.univ-amu.fr/omero {
#     reverse_proxy 127.0.0.1:4080
#     tls /etc/caddy/cert.pem /etc/caddy/key.pem
# }

# centuri-engineering.univ-amu.fr/cataloger {
#     reverse_proxy 127.0.0.1:5000
#     tls /etc/caddy/cert.pem /etc/caddy/key.pem
# }


